/****** PLACE YOUR CUSTOM STYLES HERE ******/

/*For Dribbble*/
ul.shots li{
	display:inline-block;
	float:left;
	max-width:25%;
/* 	padding:5px; */
	}
ul.shots li img{
	max-width:25!important
	}
	ul.shots li:hover{
		background:rbga(255, 255, 255, .5)!important;
	}

	.erin-gradient{
		
		background: #e570e7; /* Old browsers */
		background: -moz-linear-gradient(-45deg, #e570e7 0%, #38397f 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(-45deg, #e570e7 0%,#38397f 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(135deg, #337ab7 0%,#38397f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-size: cover !important;
    background-position: 50% 50% !important;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    opacity: .9;
	}